<a href="https://colab.research.google.com/github/ProtyushRoy/ML-Assignment_ISTE/blob/main/MLweek1ISTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Titanic_ISTE.csv to Titanic_ISTE (2).csv
User uploaded file "Titanic_ISTE.csv" with length 66493 bytes

In [38]:
#question1
import numpy as np
import pandas as pd 
data = pd.read_csv('Titanic_ISTE.csv')

In [50]:
from scipy.stats import chi2_contingency
crosstabresult_1=pd.crosstab(index=data['Survived'], columns=data['Pclass'])
chisq1=chi2_contingency(crosstabresult_1)
print('P-Value of Chi Square Test is' ,chisq1[1])

crosstabresult_2=pd.crosstab(index=data['Survived'], columns=data['Sex'])
chisq_2=chi2_contingency(crosstabresult_2)
print('P-Value of Chi Square Test is', chisq_2[1])

crosstabresult_3=pd.crosstab(index=data['Survived'], columns=data['Age'])
chisq_3=chi2_contingency(crosstabresult_3)
print('P-Value of Chi Square Test is', chisq_3[1])

crosstabresult_4=pd.crosstab(index=data['Survived'], columns=data['SibSp'])
chisq_4=chi2_contingency(crosstabresult_4)
print('P-Value of Chi Square Test is' ,chisq_4[1])

crosstabresult_5=pd.crosstab(index=data['Survived'], columns=data['Embarked'])
chisq_5=chi2_contingency(crosstabresult_5)
print('P-Value of Chi Square Test is' ,chisq_5[1])

crosstabresult_6=pd.crosstab(index=data['Survived'], columns=data['Fare'])
chisq_6=chi2_contingency(crosstabresult_6)
print('P-Value of Chi Square Test is' ,chisq_6[1])

P-Value of Chi Square Test is 2.2842186475599623e-23
P-Value of Chi Square Test is 3.487741570629795e-57
P-Value of Chi Square Test is 0.08371525224381583
P-Value of Chi Square Test is 1.2168985272205958e-06
P-Value of Chi Square Test is 2.258211542054125e-06
P-Value of Chi Square Test is 8.966050015695972e-12

In [34]:
#question2
data.drop(columns=['Cabin'],inplace=True)
data.head()
#here we are using drop because the Cabin column had more than half of its elements missing and thus wasn't required in our evalutation

   PassengerId  Survived  Pclass  ... Unnamed: 15 Unnamed: 16  Unnamed: 17
0            1       0.0     3.0  ...         NaN         NaN          NaN
1            2       1.0     1.0  ...         NaN         NaN          NaN
2            3       1.0     3.0  ...         NaN         NaN          NaN
3            4       1.0     1.0  ...         NaN         NaN          NaN
4            5       0.0     3.0  ...         NaN         NaN          NaN

[5 rows x 17 columns]

In [36]:
data["Age"] = data["Age"].replace(np.NaN, data["Age"].mean())
data
#here we are using np.Nan because the age columns have only a few vacancies and can be fullfilled with the mean of the rest of the values thus not changing much of it

     PassengerId  Survived  Pclass  ... Unnamed: 15 Unnamed: 16  Unnamed: 17
0              1       0.0     3.0  ...         NaN         NaN          NaN
1              2       1.0     1.0  ...         NaN         NaN          NaN
2              3       1.0     3.0  ...         NaN         NaN          NaN
3              4       1.0     1.0  ...         NaN         NaN          NaN
4              5       0.0     3.0  ...         NaN         NaN          NaN
..           ...       ...     ...  ...         ...         ...          ...
886          887       0.0     2.0  ...         NaN         NaN          NaN
887          888       1.0     1.0  ...         NaN         NaN          NaN
888          889       0.0     3.0  ...         NaN         NaN          NaN
889          890       1.0     1.0  ...         NaN         NaN          NaN
890          891       0.0     3.0  ...         NaN         NaN          NaN

[891 rows x 17 columns]

In [37]:
#question3
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['Sex','Embarked'], return_df=True, mapping=[{'col':'Sex','mapping':{'male':0,'female':1}},{'col':'Embarked','mapping':{'S':0,'C':1, 'Q':2}}])

data_transformed = encoder.fit_transform(data)
data_transformed.head()

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

   PassengerId  Survived  Pclass  ... Unnamed: 15  Unnamed: 16  Unnamed: 17
0            1       0.0     3.0  ...         NaN          NaN          NaN
1            2       1.0     1.0  ...         NaN          NaN          NaN
2            3       1.0     3.0  ...         NaN          NaN          NaN
3            4       1.0     1.0  ...         NaN          NaN          NaN
4            5       0.0     3.0  ...         NaN          NaN          NaN

[5 rows x 17 columns]

In [49]:
encoder=ce.TargetEncoder(cols='Survived') 
encoder.fit_transform(data['Survived'],data['Fare'])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

      Survived
0    22.117887
1    48.612206
2    48.612206
3    48.612206
4    22.117887
..         ...
886  22.117887
887  48.612206
888  22.117887
889  48.612206
890  22.117887

[891 rows x 1 columns]

In [53]:
encoder=ce.OneHotEncoder()
encoder.fit_transform(data['Name'])

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

     Name_1  Name_2  Name_3  Name_4  ...  Name_888  Name_889  Name_890  Name_891
0         1       0       0       0  ...         0         0         0         0
1         0       1       0       0  ...         0         0         0         0
2         0       0       1       0  ...         0         0         0         0
3         0       0       0       1  ...         0         0         0         0
4         0       0       0       0  ...         0         0         0         0
..      ...     ...     ...     ...  ...       ...       ...       ...       ...
886       0       0       0       0  ...         0         0         0         0
887       0       0       0       0  ...         1         0         0         0
888       0       0       0       0  ...         0         1         0         0
889       0       0       0       0  ...         0         0         1         0
890       0       0       0       0  ...         0         0         0         1

[891 rows x 891 columns]

In [67]:
#question4
#normalizing fare
from sklearn.preprocessing import MinMaxScaler
X = data.iloc[:, 1:10:8].values
X = MinMaxScaler().fit_transform(X)
print(X)

[[0.         0.01415106]
 [1.         0.13913574]
 [1.         0.01546857]
 ...
 [0.         0.04577135]
 [1.         0.0585561 ]
 [0.         0.01512699]]

In [70]:
from sklearn.preprocessing import StandardScaler
X = data.iloc[:, 1:10:8].values
X = StandardScaler().fit_transform(X)
print(X)

[[-0.78696114 -0.50244517]
 [ 1.27071078  0.78684529]
 [ 1.27071078 -0.48885426]
 ...
 [-0.78696114 -0.17626324]
 [ 1.27071078 -0.04438104]
 [-0.78696114 -0.49237783]]